body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #0169f0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--div {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.nav--div h2 {
  margin: 0;
  margin-left: 1rem;
  color: #ffffff;
}

.nav--div2 {
  height: 100%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div2--a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.div2--a:hover {
  background-color: #0115ca;
}

.menu--boton {
  height: 50px;
  width: 50px;
  background-image: url(../Icons/menus.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #0169f0;
  display: none;
}

.menu {
  background-color: #3c4746;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}

.main {
  height: 500px;
  width: 100%;
  background-color: #0115ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main--img {
  height: 100%;
  width: 40%;
  background-color: #0115ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img {
  height: 400px;
  width: 400px;
  background-image: url(/Images/paraporto.jpg);
  border: 5px white solid;
  border-radius: 200px;
  margin: auto;
}

.main--txt {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt {
  height: 300px;
  width: 90%;
  background-color: #0169f0;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.txt p {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}

.cv {
  width: 40%;
  height: 80px;
  background-color: #0115ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encontrame {
  width: 60%;
  background-color: #0115ca;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parrafo-encontrame {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}

.links {
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  background-color: #0115ca;
  cursor: pointer;
}

.Instagram {
  background-image: url(../Icons/instagram.png);
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../Icons/twitter.png);
  background-repeat: no-repeat;
}

.github {
  background-image: url(../Icons/github.png);
  background-repeat: no-repeat;
}

.linkedln {
  background-image: url(../Icons/linkedin.png);
  background-repeat: no-repeat;
}

.cv-encontrame {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cv button {
  height: 50px;
  width: 120px;
  background-color: #1010b3;
  border: none;
  color: white;
  border-radius: 100px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.cv button:hover {
  cursor: pointer;
  height: 70px;
  width: 150px;
  font-size: medium;
}

.myskills--h {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}

.MySkills {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px;
  -ms-grid-rows: 160px 160px;
      grid-template-rows: 160px 160px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5rem;
}

.myskill--div {
  height: 180px;
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.myskill--div1 {
  background-image: url(../Icons/html.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div2 {
  background-image: url(../Icons/css.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div3 {
  background-image: url(../Icons/js.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div4 {
  background-image: url(../Icons/mysql.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div5 {
  background-image: url(../Icons/git.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div6 {
  background-image: url(../Icons/java.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div7 {
  background-image: url(../Icons/react.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div8 {
  background-image: url(../Icons/nodejs.png);
  background-repeat: no-repeat;
  background-position: center;
}

.myskill--div7, .myskill--div8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soon {
  width: 170px;
  height: 180px;
  background-color: #4b4b4b;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.soon h2 {
  font-size: x-large;
  color: black;
  opacity: 10;
}

.myprojects {
  margin-top: 3rem;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.myprojects h2 {
  text-align: center;
}

.grid--myprojects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.myprojects--div {
  background-color: aqua;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3px;
}

.proyecto1 {
  position: relative;
}

.proyecto1--op {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.proyecto1--op p {
  color: aliceblue;
  padding: 20px;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.proyecto1--op:hover {
  opacity: 0.9;
}

.proyecto2--op {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.proyecto2--op p {
  color: aliceblue;
  padding: 20px;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.proyecto2--op:hover {
  opacity: 0.9;
}

.proyecto1--a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.proyecto2--img {
  width: 378px;
  height: 140px;
}

.contactme {
  width: 100%;
  height: 400px;
  background-color: aqua;
}

.contactme--h3 {
  margin: 20px;
  text-align: center;
  padding-top: 20px;
}

input {
  border-radius: 20px;
  border: none;
  height: 40px;
}

.input {
  width: 40%;
}

.input--leave {
  width: 70%;
  margin-top: 20px;
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.input--send {
  width: 100px;
  height: 40px;
  margin: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.input--send:hover {
  cursor: pointer;
  color: #a7a7a7;
}

.div--input {
  width: 80%;
  margin: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer--h5 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menu--boton {
    display: block;
    cursor: pointer;
  }
  .img {
    height: 300px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-position: bottom;
  }
  .txt {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .cv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav--div2 {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .main--img {
    width: 100%;
  }
  .main--txt {
    width: 100%;
  }
  .MySkills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .grid--myprojects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    justify-items: center;
  }
  .myprojects--div {
    width: 230px;
    height: 150px;
  }
  .proyecto1 img {
    width: 230px;
    height: 150px;
  }
  .myskill--div9 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .myprojects--div {
    width: 380px;
    height: 250px;
  }
  .proyecto1 img {
    width: 380px;
    height: 250px;
  }
  .myskill--div9 {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */