@import "variable";
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: $color-principal;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .nav--div{
    height: max-content;
  }
  .nav--div h2{
    margin: 0;
    margin-left: 1rem;
    color: $color-textob;
  }
  .nav--div2{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .div2--a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $color-textob; 
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .div2--a:hover{
    background-color: $color-secundario;
  }
  .menu--boton{
    height: 50px;
    width: 50px;
    background-image: url(../Icons/menus.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: $color-principal;
    display: none;
  }
  .cerrar--boton{
    height: 50px;
    width: 50px;
    background-image: url(../Icons/cerrar.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: $color-menu;
    display: none;
    cursor: pointer;
  }
  .menu{
    background-color: $color-menu;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    padding-top: 2rem;
  }
  .menu h4{
    cursor: pointer;
    margin: 8rem;
  }
  


  
//Realizando la parte del main
.main{
  height: 500px;
  width: 100%;
  background-color:$color-secundario;
  display: flex;
}
.main--img{
  height: 100%;
  width: 40%;
  background-color: $color-secundario;
  display: flex;
}
.img{
  height: 400px;
  width: 400px;
  background-image: url(/Images/paraporto.jpg);
  border: 5px white solid;
  border-radius: 200px;
  margin: auto;
}
.main--txt{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.txt{
  height: 300px;
  width: 90%;
  background-color: $color-principal;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;  
}
.txt p{
  color: $color-textob;
  padding: 10px;
  margin: 5px;
}
.cv{
  width: 40%;
  height: 80px;
  background-color: $color-secundario;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.encontrame{
  width: 60%;
  background-color: $color-secundario;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parrafo-encontrame{
  margin-top: 5px;
  margin-bottom: 10px;
  color: $color-textob;
}
.links{
  text-decoration:none;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  background-color: $color-secundario;
  cursor: pointer;
}
.Instagram{
  background-image: url(../Icons/instagram.png);
  background-repeat: no-repeat;
}
.twitter{
  background-image: url(../Icons/twitter.png);
  background-repeat: no-repeat;
}
.github{
  background-image: url(../Icons/github.png);
  background-repeat: no-repeat;
}
.linkedln{
  background-image: url(../Icons/linkedin.png);
  background-repeat: no-repeat;
}
.cv-encontrame{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cv button{
  height: 50px;
  width: 120px;
  background-color: rgb(16, 16, 179);
  border: none;
  color: white;
  border-radius: 100px;
  transition-duration: 0.5s;
}
.cv button:hover{
  cursor: pointer;
  height: 70px;
  width: 150px;
  font-size: medium;
}









//Realizando la parte de my skills
.myskills--h{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}
.MySkills{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 160px 160px;
  align-content: center;
  justify-content:space-between;
  margin-top: 0.5rem;
}
.myskill--div{
  height: 180px;
  width: 200px;
  align-self: center;
  margin: auto;
}
.myskill--div1{
  background-image: url(../Icons/html.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div2{
  background-image: url(../Icons/css.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div3{
  background-image: url(../Icons/js.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div4{
  background-image: url(../Icons/mysql.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div5{
  background-image: url(../Icons/git.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div6{
  background-image: url(../Icons/java.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div7{
  background-image: url(../Icons/react.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div8{
  background-image: url(../Icons/nodejs.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myskill--div7,.myskill--div8{
  display: flex;
  justify-content: center;
}
.soon{
  width: 170px;
  height: 180px;
  background-color: rgb(75, 75, 75);
  opacity: 0.9;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.soon h2{
  font-size: x-large;
  color: black;
  opacity: 10;
}





//Realizando la parte de proyectos
.myprojects{
  margin-top: 3rem;
  width: 100%;
  height: max-content;
}
.myprojects h2{
  text-align: center;
}
.grid--myprojects{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
.myprojects--div{
  background-color: aqua;
  height: max-content;
  width: max-content;
  margin: 3px;
}
.proyecto1{
  position: relative;
}
.proyecto1--op{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition-duration: 1.5s;
}
.proyecto1--op p{
  color: aliceblue;
  padding: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}
.proyecto1--op:hover{
  opacity: 0.9;
}
.proyecto2--op{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition-duration: 1.5s;
}
.proyecto2--op p{
  color: aliceblue;
  padding: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.proyecto2--op:hover{
  opacity: 0.9;
}
.proyecto1--a{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius:  10px; ;
}
.proyecto2--img{
  width:378px;
  height:140px;
}






//Realizando la parte de contact me
.contactme{
  width: 100%;
  height: 400px;
  background-color: aqua;
}
.contactme--h3{
  margin: 20px;
  text-align: center;
  padding-top: 20px;
}
input{
  border-radius: 20px;
  border: none;
  height: 40px;
}
.input{
  width: 40%;
}
.input--leave{
  width:70%;
  margin-top: 20px;
  height: 60px;
  align-self: center;

}.input--send{
  width: 100px;
  height: 40px;
  margin: 20px;
  align-self: center;
}
.input--send:hover{
  cursor: pointer;
  color: rgb(167, 167, 167);
}
.div--input{
  width: 80%;
  margin: 20px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
.form{
  display: flex;
  flex-direction: column;
  height: max-content;
}





//Realizando la parte del footer
.footer{
  width: 100%;
  height: 60px;
  background-color: grey;
  display: flex;
}
.footer--h5{
  text-align: center;
}





//Para el mobile
@media screen and (max-width:"1200px") {
  .menu--boton{
    display: block;
    cursor: pointer;
  }
  .img{
    height: 300px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-position: bottom;
  }
  .txt{
    height: max-content;
  }
  .cv{
    flex-direction: column;
  }
  .nav--div2{
    display: none;
  }
  .main{
    flex-direction: column;
    height: max-content;
  }
  .main--img{
    width: 100%;
  }
  .main--txt{
    width: 100%;
  }
  .MySkills{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px 200px;
    align-content: space-between;
  }
  .grid--myprojects{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
  }
  .myprojects--div{
    width: 230px;
    height: 150px;
  }
  .proyecto1 img{
    width: 230px;
    height: 150px;
  }
  .myskill--div9{
    margin-top: 20px;
  }
}
@media screen and (max-width:"1200px") and (min-width:"800px"){
  .myprojects--div{
    width: 380px;
    height: 250px;
  }
  .proyecto1 img{
    width: 380px;
    height: 250px;
  }
  .myskill--div9{
    margin-top: 20px;
  }
}